.main-content {
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-tc);
  overflow-x: hidden;

  .main-div {
    padding-top: 100px;

    &#home {
      padding-top: 0;
    }
    section {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
}

@media (max-width: 770px) {
  .main-content {
    .main-div {
      section {
        max-width: 740px;
      }
    }
  }
}
