section.about-component {
  background: linear-gradient(to right, #0cb090, #0a292300);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  border-radius: 15px;
  height: 550px;

  .image {
    width: 500px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }

  .about-me {
    max-width: 400px;
    text-align: center;

    h2 {
      padding: 10px 0;
    }
  }
}

@media (max-width: 650px) {
  section.about-component {
    background: linear-gradient(to bottom, #0cb090, #0a292300);
    flex-direction: column;

    .image {
      width: 300px;

      .img {
      }
    }
  }
}
