.light {
  --nav-bg: #fff;
  --nav-tc: black;
  --main-bg: #f5f5f5;
  --login-bg: #eee;
  --login-tc: #999;
  --about-bg: linear-gradient(to right, #04856b, #0a2923);
  --about-tc: #efeffe;
  --bg: #eaeaea;
  --form-bg: #ededed;
  --skill-bg: #cecea5;
  --skill-tc: #f5f5f5;
  --project-bg: #d4e1d1;
  --project-tc: black;
  --project-p-bg: #cfe8fc;
  --scrollbar-color: #eaeaea #fff;
}
.dark {
  --nav-bg: #fff;
  --nav-tc: black;
  --main-bg: #f5f5f5;
  --login-bg: #eee;
  --login-tc: #999;
  --about-bg: linear-gradient(to right, #04856b, #0a2923);
  --about-tc: #efeffe;
  --bg: #eaeaea;
  --form-bg: #ededed;
  --skill-bg: #cecea5;
  --skill-tc: #f5f5f5;
  --project-bg: #d4e1d1;
  --project-tc: black;
  --project-p-bg: #cfe8fc;
  --scrollbar-color: #eaeaea #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  letter-spacing: 0.5px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

body {
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
}
